# Frontend (React)
client/node_modules/
client/.env.local
client/dist/

# Backend (Python)
go-app/.venv/
go-app/*.pyc
go-app/.env
go-app/.browser_profile/
go-app/py/__pycache__/
go-app/py/__pycache__/*.pyc
go-app/py/chromium-profile/

# General
.DS_Store
.idea/
.vscode/

.env
